.theme-light {
  --color-primary: #003c8f;
  --color-secondary: #ffffff;
  --color-accent: #006b52;
  --font-color: #0a0a0a;
  --color-surface: #eaeaea;
  --color-ui-accent: #d2d2d2;
  --color-grey-light: #5b5b5b;
  --border-color: rgba(0, 0, 0, 0.22);
}

.theme-dark {
  --color-primary: #79ccff;
  --color-secondary: #0a0a0a;
  --color-accent: #47d8a5;
  --font-color: #fafafa;
  --color-surface: #1a1a1a;
  --color-ui-accent: #1b1b1b;
  --color-grey-light: #bbbaba;
  --border-color: rgba(163, 163, 163, 0.22);
}
