.theme-light {
  --color-primary: #0047AB;          
  --color-secondary: #FFFFFF;      
  --color-accent: #007A5E;           
  --font-color: #000000;             
  --color-surface: #F2F2F2;          
  --color-ui-accent: #d7d7d7;       
  --border-color: rgba(0, 0, 0, 0.15);
}

.theme-dark {
  --color-primary: #66C2FF;          
  --color-secondary: #0F0F0F;        
  --color-accent: #4EE3B1;           
  --font-color: #F5F5F5;             
  --color-surface: #1F1F1F;          
  --color-ui-accent: #3A3A3A;    
  --border-color: rgba(255, 255, 255, 0.15);
}
