.theme-light {
  --color-primary: #003C8F;          
  --color-secondary: #FFFFFF;        
  --color-accent: #006B52;           
  --font-color: #0A0A0A;             
  --color-surface: #EAEAEA;          
  --color-ui-accent: #d2d2d2;        
  --border-color: rgba(0, 0, 0, 0.22);
}

.theme-dark {
  --color-primary: #79CCFF;          
  --color-secondary: #0A0A0A;        
  --color-accent: #47D8A5;           
  --font-color: #FAFAFA;             
  --color-surface: #1A1A1A;          
  --color-ui-accent: #1b1b1b;        
  --border-color: rgba(163, 163, 163, 0.22);
}
