.theme-light {
  --color-primary: #4c3fb8;
  --color-secondary: #ffffff;
  --color-accent: #0d8f68;
  --font-color: #1f2937;
  --color-surface: #f3f4f6;
  --color-ui-accent: #e5e7eb;
  --color-grey-light: #6b7280;
  --border-color: rgba(0, 0, 0, 0.1);
}

.theme-dark {
  --color-primary: #6b5dd4;
  --color-secondary: #111827;
  --color-accent: #2ab589;
  --font-color: #f9fafb;
  --color-surface: #1f2937;
  --color-ui-accent: #374151;
  --color-grey-light: #d1d5db;
  --border-color: rgba(255, 255, 255, 0.1);
}
