@import url("./color-shema.css");
@import url("./loader.css");
@import url("./pages/navbar.css");
@import url("./notification.css");
@import url("./overall.css");
@import url("./responsive.css");
@import url("./card.css");
@import url("./pages/hero-page.css");
@import url("./pages/history.css");
@import url("./pages/movieDetails.css");