
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-ui-accent);
  padding: 10px 20px;
  max-width: 100%;
  margin: auto;
  align-items: flex-start;
}


#DarkLightMode {
  font-family: PWHappyChristmas;
  margin: 0;
  user-select: none;
  font-size: 28px;
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}

#DarkLightMode:hover {
  transform: scale(1.05);
}

#DarkLightMode:active {
  transform: scale(0.95);
}

.theme-light #DarkLightMode {
  filter: invert(0);
}
.theme-dark #DarkLightMode {
  filter: invert(1);
}



.link {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

.link a {
  text-decoration: none;
  color: var(--font-color);
  padding: 8px 12px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.link a:hover {
  opacity: 0.7;
}

