footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
.footer-links a:hover {
  text-decoration: underline;
}
footer p {
  font-size: 14px;
  margin: 0;
}
